{% extends "layouts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}
{% block extra_css %}
    <style>
        .errorlist {
            color: red
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container mt-5" style="margin-bottom: 100px">
        {% for error in form.non_field_errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="checkout__input">
                <p>Account Password <span style="color:red">{{ form.old_password.errors }}</span></p>
                <input name="old_password" type="password">
            </div>
            <div class="checkout__input">
                <p>New Password <span class="text-danger">{{ form.new_password1.errors }}</span></p>
                <input name="new_password1" type="password">
            </div>
            <div class="checkout__input">
                <p>Confirm Password <span class="text-danger">{{ form.new_password2.errors }}</span></p>
                <input name="new_password2" type="password">
            </div>
            <button class="site-btn float-right">Save</button>
        </form>
    </div>
{% endblock %}
